[submodule "melee"]
	path = melee
	url = https://github.com/doldecomp/melee.git
	branch = master
[submodule "Nintendont"]
	path = Nintendont
	url = https://github.com/PranavMin/Nintendont.git
	branch = LazyTO
[submodule "slippi-beamer"]
	path = slippi-beamer
	url = https://github.com/PranavMin/slippi-beamer.git
	branch = LazyTO
